[Unit]
Description=Network Info Gathering
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple

[Service]
User=root
Restart=always
RestartSec=1
ExecStart=/usr/bin/env python3 /root/scripts/info.py
ExecStop=kill -9 `ps -elf | grep info.py | grep -v grep | awk -F ' ' '{print $4}'`
WorkingDirectory=/root/scripts/

[Install]
WantedBy=multi-user.target
